* {
    margin: 0;
    padding: 0;
}

.left-bar-text {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    text-transform: uppercase;
    letter-spacing: .8rem;
    text-shadow: 1px 1px 1px #333333;
}