* {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.left-bar-text {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    display: inline-block;
    font-size: 27.2px;
    font-size: 1.7rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 12.8px;
    letter-spacing: .8rem;
    text-shadow: 1px 1px 1px #333333;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.left-bar-text:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}