
<div class="content-container" [@fadeInShortAnimation]>
  <h1 class="content-header">
    Kontakt
  </h1>

  <h3 class="content-subheader">
    Zainteresowała Cię nasza oferta? Tu są nasze namiary!
  </h3>

  <hr>
  <div class="container-text">
    <p class="content-text">solarz_m@wp.pl</p>
    <p class="content-text">Ołpiny 512, gmina Szerzyny, powiat tarnowski, 38-247, województwo małopolskie</p>
    <p class="content-text">Telefon:  791 157 862</p>
    <p class="content-text">FB</p>
  </div>
</div>
