
<div class="content-container" [@fadeInShortAnimation]>
  <h1 class="content-header">
    O nas
  </h1>

  <h3 class="content-subheader">
      Jesteś ciekawy jak naprawdę żyje się na wsi?
  </h3>

  <hr>

  <div class="container-text">
    <p class="content-text">„Paryja” to słowo, które oznacza miejsce odludne, położone w dolinie, gdzie kończy się droga. 
      Nie jest łatwo do nas trafić, ale wyjechać jest jeszcze trudniej. Agroturystyka położona 
      jest  pomiędzy dwoma potokami, pod skalistym, sosnowym wzgórzem. Wokół rozciąga się piękny 
      Park Krajobrazowy Pasma Brzanki, położony na terenie Pogórza Ciężkowickiego. 
      Jest to cudowne miejsce zarówno na samotne spacery jak i rodzinne przechadzki. </p>
      
    <p class="content-text">Nasze gospodarstwo to 14-hektarowy obszar gdzie, oprócz  ekologicznej uprawy ziemi, 
      zajmujemy się hodowlą dwunastu koni małopolskich.  Do dyspozycji naszych gości na terenie 
      gospodarstwa znajduje się mini skansen oraz dwie odrestaurowane, oryginane drewniane chałupy 
      mieszkalne w całości przeniesione przez nas z terenów Pogóża. </p>

    <hr>

    <p class="content-text">Mietek - leśnik, społecznik,  gościnny gospodarz i zaklinacz koni. </p>
    <p class="content-text">Sylwia - kreatywna gospodyni dbająca o ognisko domowe.</p>
    <p class="content-text">Jasiek - roczny urwis uwiebiający psocić i poznawać nowych ludzi.</p>
  </div>


</div>