
<div class="content-container" [@fadeInShortAnimation]>
  
  <header class= "content-box">
    <h1 class="content-header">
      O nas
    </h1>

    <h3 class="content-subheader">
        Jesteś ciekawy jak naprawdę żyje się na wsi?
    </h3>
  </header>

  <hr>

  <div class="container-text">
    <p class="content-text"><em>„Paryja”</em> to słowo, które oznacza miejsce odludne, położone w dolinie, gdzie kończy się droga. 
      Nie jest łatwo do nas trafić, ale wyjechać jest jeszcze trudniej. Agroturystyka położona 
      jest  pomiędzy dwoma potokami, pod skalistym, <em>sosnowym wzgórzem</em>. Wokół rozciąga się piękny 
      Park Krajobrazowy Pasma Brzanki, położony na terenie Pogórza Ciężkowickiego. 
      Jest to cudowne miejsce zarówno na samotne spacery jak i rodzinne przechadzki. </p>
      
    <p class="content-text">Nasze gospodarstwo to <em>14-hektarowy obszar</em> gdzie, oprócz  ekologicznej uprawy ziemi, 
      zajmujemy się hodowlą dwunastu koni małopolskich.  Do dyspozycji naszych gości na terenie 
      gospodarstwa znajduje się <em>mini skansen</em> oraz dwie odrestaurowane, oryginane <em>drewniane chałupy</em>
      mieszkalne w całości przeniesione przez nas z terenów Pogóża. </p>

    <hr class="text-spacing">

    <p class="content-text"><em>Mietek</em> - leśnik, społecznik,  gościnny gospodarz i zaklinacz koni. </p>
    <p class="content-text"><em>Sylwia</em> - kreatywna gospodyni dbająca o ognisko domowe.</p>
    <p class="content-text"><em>Jasiek</em> - roczny urwis uwiebiający psocić i poznawać nowych ludzi.</p>
  </div>


</div>