
<div class="content-container" [@fadeInShortAnimation]>
  <h1 class="content-header">
    Blog
  </h1>

  <h3 class="content-subheader">
    Czyli co w trawie piszczy...
  </h3>

  <hr>

  <button class="btn-blog">Wejdź!</button>
  <div class="container-text">
    <p class="content-text"> Zobaczyłeś już naszą wizytówkę i zafascynowało Cię piękno 
      nieskażonej przyrody? Zapraszamy do odwiedzin bloga, na którym publikujemy wszelkie aktualności
    i ciekawostki z naszego małego świata!</p>

    
  </div>

</div>