ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 1.5rem 0 2rem 0;
}

ul li {
    cursor: pointer;
    opacity: 0.8;
}

ul li:hover {
    animation: nav-btn-hover .4s ease-in forwards;
}
hr {
    width: 60%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 3rem;
}

@keyframes nav-btn-hover {
    0% {
        transform: scale(1);
        transform: rotate(7deg);
    }


    75% {
        transform: rotate(-7deg);
    }

    100% {
        transform: scale(1.4);
        opacity: 1;
    }
}