
<div class="container">
    <h1>
      Sokole Ranczo
    </h1>
  
    <h3>
      Miejsce, które stworzyliśmy z myślą o naszych gościach...
    </h3>
  
    <hr>
  
    <p> Zapraszamy do miejsca Sokole Ranczo, które stworzyliśmy z myślą o naszych gościach. Każdy kto tu przyjedzie będzie mógł nie tylko odpocząć, 
        ale także poznać piękno jurajskiej przyrody, spędzić czas w towarzystwie ludzi i zwierząt. Niezwykła energia tego pięknego miejsca u podnóża Sokolich Gór,
        obecność koni, owiec, kóz i innych zwierząt powodują, że chce się tu być i wracać. Gospodarstwo przyjazne jest środowisku i dobrym ludziom, dąży do samowystarczalności.
        Nieskażone środowisko, bogata flora i fauna gwarantują bardzo dobre warunki dla spokojnego i zdrowego wypoczynku.</p>
  
  </div>