
<div class="content-container">
    <h1 class="content-header">
      Paryja
    </h1>
  
    <h3 class="content-subheader">
      Miejsce, w którym odpoczniesz...
    </h3>
  
    <hr>
  
    <div class="container-text">
      <p class="content-text"> Czy pamiętacie jak zaczyna się niemal <em>każda bajka?</em> Zapraszamy Was właśnie w jedno z takich miejsc, 
        ukrytych za górami, za lasami i siedmioma rzekami. <em>Czekamy na gości</em>, którzy zmęczeni szybkim tempem życia, 
        chcą zresetować się i przypomnieć sobie jak bardzo lubią chłonąć naturę wszystkimi zmysłami.</p>
      <p class="content-text"><em>Zapraszamy Cię serdecznie</em>, jeśli szukasz w ludziach <em>autentyczności</em>, a w sobie masz ciekawość i chęć 
        poznawania rzeczy prostych. Przyjedź i przeżyj <em>swoją własną bajkę</em>, którą będziesz mógł później opowiedzieć innym.</p>
    </div>
  
  </div>