
<div class="content-container">
  <h1 class="content-header">
    Galeria
  </h1>

  <hr>

  <ul class="content-gallery">
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
    <li style="background-image: url(./assets/img/Zniwa-2014.jpg)"></li>
  </ul>

</div>