.content-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.content-gallery li {

    margin: 1rem;
    flex-grow: 1;
    flex-basis: 150px;
    height: 150px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    transition: opacity .4s .05s ease-in, transform .4s .05s ease-in;

}


.content-gallery li:hover {
    opacity: 1;
    transform: scale(1.15);
}

