.container {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    
    background-image: url("../assets/img/tapestry_pattern.png");

}

.right-bar, .left-bar {
    color: #212121;
    flex-grow: 0;
    flex-basis: 5%;
    background-color: transparent;

}

.base {
    flex-basis: 90%;
    background-color: #DCEDC8;
}