.navbar {
    margin-top: 1rem;
    z-index: 1000000;
}

.main-container {
    display: flex;
    height: 100%;

}

.left-side-container {
    background-image: url('../../../assets/img/main.jpg');
    flex-grow: 1;
    flex-basis: 50%;
    background-size: cover; 
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    filter: blur(1px);
    filter: opacity(70%);
}

.right-side-container {
    background-color: #DCEDC8;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: .8rem;
    z-index: 1;


}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .main-container {
        flex-direction: column;
        padding: 0 4rem;
    }
    .right-side-container {
        order: 2;
    }
    .left-side-container {
        order: 1;
        flex-grow: 1;
        min-height: 50vh;
        margin: 1rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 700px) {
    .left-side-container {
        min-height: 40vh;
    }
    .main-container {
        padding: 0;
    }
}


/* test */



