
<div class="content-container" [@fadeInShortAnimation]>
  <h1 class="content-header">
    Oferta
  </h1>

  <h3 class="content-subheader">
    Czyli po prostu... zapraszamy!
  </h3>

  <hr>
  <div class="container-text">
    <p class="content-text"><em>Do dyspozycji gości</em> jest oddzielna, drewniana, stylowo wykończona 
      chałupa z pełnym wyposażeniem kuchni i dużą otwartą werandą. Poniżej staw,  kwieciste 
      kaczeńcowe łąki i pasące się na nich konie małopolskie. W obejściu  i jednym z budynków 
      znajduje się wystawa etnograficzna przedmiotów gospodarstwa domowego. Poza <em>jazdą konną</em>
      można przyjemnie spacerować, uprawiać wspinaczkę skałkową, przemierzać ciekawe trasy 
      rowerowe lub wybrać się na <em>przechadzkę z gospodarzem</em>, który opowie o czym szumią sosny i 
      śpiewają ptaki.</p>
  </div>

  <hr class="text-spacing">

  <div class="container-links">
      <a (click)="onTouristClick()">Oferta&nbsp;Turystyczna</a>
      <a (click)="onBedClick()">Oferta&nbsp;Noclegowa</a>
  </div>

  <div *ngIf="isTouristOn" class="container-tourists" (click)="onTouristClick()" [@fadeInExtraShortAnimation]>
      <div class="tourists-content">
        <h1 class="content-header header-small">Oferta Turystyczna</h1>
        <p>Noclegi: 35zł od osoby. Łazienka wspólna na 5 pokoi. Pokoje dwu, trzy i czteroosobowe. Masymalna ilość łóżek wynosi  15 (dodatkowo 5 dostawianych).</p>
        <p>Jedzenie: świeże, lokalne, sezonowe produkty (mięso, sery, warzywa, pieczywo, jaja, miód, przetwory). Możliwe posiłki wegetariańskie i wegańskie po wcześniejszym uprzedzeniu.</p>
        <ul class="tourists-list">
          <li>Śniadanie 15 zł</li>
          <li>Obiad/obiadokolacja 25 zł</li>
          <li>Kolacja 15 zł</li>
          <li>Dzieci do 3 roku życia nocleg?</li>
          <li>Dla dzieci istnieje możliwość wykupienia posiłku tańszego o 50%?</li>
          <li>Do dyspozycji kuchnia w której można przygotować własne posiłki</li>
          <li>Istnieje możliwość rozpalenia ogniska, grilla, pieca chlebowego.</li>
          <li>Możliwość negocjacji ceny przy większych, zorganizowanych grupach.</li>
        </ul>
        <i class="fa fa-times-circle-o fa-4x" aria-hidden="true"></i>
      </div>
  </div>

  <div *ngIf="isBedOn" class="container-tourists" (click)="onBedClick()" [@fadeInExtraShortAnimation]>
      <div class="tourists-content">
        <h1 class="content-header header-small">Oferta Noclegowa</h1>
        <p>Noclegi: 35zł od osoby. Łazienka wspólna na 5 pokoi. Pokoje dwu, trzy i czteroosobowe. Masymalna ilość łóżek wynosi  15 (dodatkowo 5 dostawianych).</p>
        <p>Jedzenie: świeże, lokalne, sezonowe produkty (mięso, sery, warzywa, pieczywo, jaja, miód, przetwory). Możliwe posiłki wegetariańskie i wegańskie po wcześniejszym uprzedzeniu.</p>
        <ul class="tourists-list">
          <li>Śniadanie 15 zł</li>
          <li>Obiad/obiadokolacja 25 zł</li>
          <li>Kolacja 15 zł</li>
          <li>Dzieci do 3 roku życia nocleg?</li>
          <li>Dla dzieci istnieje możliwość wykupienia posiłku tańszego o 50%?</li>
          <li>Do dyspozycji kuchnia w której można przygotować własne posiłki</li>
          <li>Istnieje możliwość rozpalenia ogniska, grilla, pieca chlebowego.</li>
          <li>Możliwość negocjacji ceny przy większych, zorganizowanych grupach.</li>
          
        </ul>
        <i class="fa fa-times-circle-o fa-4x" aria-hidden="true"></i>
      </div>
      
  </div>


  